# common ignores
node_modules/
/packages/*/dist/
/apps/*/dist/
/.husky/_/
*.tgz
*.tsbuildinfo
/.env
/apps/web/.next/
/apps/web/next-env.d.ts
/apps/desktop/.next/
/apps/desktop/next-env.d.ts
/.vscode/settings.json
.turbo/
.DS_Store
.vercel
.expo/
/target/
/apps/desktop/out/

# eslint ignores
# NOTE: eslint ignores dotfiles by default
!.*.cjs
