node_modules/
dist/
.next/
.expo/
.vercel
.eslintcache
.DS_Store
/.env*.local
/.vscode/settings.json
/target/
/apps/desktop/out/
/apps/desktop/src-tauri/gen/schemas/
/.husky/_/
tsconfig.tsbuildinfo

# NOTE: these can be committed if we have a need, but otherwise can be avoided (https://docs.expo.dev/guides/adopting-prebuild/)
/apps/mobile/android/
/apps/mobile/ios/
