# prefer installing versions which don't conflict between workspaces/modules
prefer-dedupe = true

# save specific versions of packages (generally preferable for apps, libraries
# will want to manage package ranges a bit more explicitly)
save-exact = true
save-prefix = ""

# disable extra output
audit = false
fund = false
update-notifier = false
