# common ignores
node_modules/
/packages/*/dist/
/apps/*/dist/
/.husky/_/
*.tgz
*.tsbuildinfo
/.env*.local
/apps/web/.next/
/apps/desktop/.next/
/.vscode/settings.json
.turbo/
.DS_Store
.vercel
.expo/
/target/
/apps/desktop/out/

# prettier
# TODO: remove with next sops release (has indent size configuration)
.env.production.yml
.env.preview.yml
